page-home {
  ion-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
    
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro {
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 5px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0px;
    margin-bottom: 30px;
    animation-duration: 2s;
  }

  .btn-play {
    animation-duration: 3s;
  }
}
